@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #2c2c2c;
}

.cell {
  display: block;
  width: 6rem;
  height: 6rem;
  background-color: hsl(0, 0%, 90%);
}

ul .piano-body {
  list-style-type: none;
  margin: 5em auto;
  padding: 3em 0 0 3em;
  position: relative;
  border: 1px solid #1c1c1c;
  border-radius: 1em;
  background-color: #181818;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Roboto;
  padding-bottom: 1em;
  user-select: none;
}

ul .white {
  height: 16em;
  width: 4em;
  z-index: 1;
  border-left: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  border-radius: 0 0 5px 5px;
  background-color: #eeeeee;
}

ul .white:active {
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
  background-color: #c0c0c0;
}

ul .black {
  height: 8em;
  width: 2em;
  margin: 0 0 0 -1em;
  z-index: 2;
  border: 1px solid #000000;
  border-radius: 0 0 3px 3px;
  background: #555555;
}

ul .black:active {
  background-color: #222222;
}

.shift {
  margin: 0 0 0 -1em;
}

ul li:first-child {
  border-radius: 5px 0 5px 5px;
}

ul li:last-child {
  border-radius: 0 5px 5px 5px;
}

.keylabel-black {
  color: #f7f7f7;
}

.keylabel-white {
  color: #1c1c1c;
}
